In [9]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [10]:
df = pd.read_csv('wine.csv')
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,2
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,3
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,4

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1143 non-null   float64
 1   volatile acidity      1143 non-null   float64
 2   citric acid           1143 non-null   float64
 3   residual sugar        1143 non-null   float64
 4   chlorides             1143 non-null   float64
 5   free sulfur dioxide   1143 non-null   float64
 6   total sulfur dioxide  1143 non-null   float64
 7   density               1143 non-null   float64
 8   pH                    1143 non-null   float64
 9   sulphates             1143 non-null   float64
 10  alcohol               1143 non-null   float64
 11  quality               1143 non-null   int64
 12  Id                    1143 non-null   int64
dtypes: float64(11), int64(2)
memory usage: 116.2 KB

In [14]:
df.shape

(1143, 13)

In [16]:
df['quality'].value_counts()

quality
5    483
6    462
7    143
4     33
8     16
3      6
Name: count, dtype: int64

In [17]:
df['quality'].fillna(int(df['quality'].mean()), inplace=True)

In [19]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [21]:
df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality', 'Id'],
      dtype='object')

In [22]:
X = df[['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality', 'Id']]
y = df['quality']

In [24]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)

svc_model = SVC(kernel='linear')   
svc_model.fit(X_train,y_train)
svc_model.score(X_test,y_test)

1.0

In [26]:
svc_y_train_pred = pd.Series(svc_model.predict(X_train))
svc_y_train_pred.value_counts()

5    340
6    316
7    102
4     24
8     12
3      6
Name: count, dtype: int64

In [27]:
svc_y_test_pred = pd.Series(svc_model.predict(X_test))
svc_y_test_pred.value_counts()

6    146
5    143
7     41
4      9
8      4
Name: count, dtype: int64

In [28]:
from sklearn.metrics import confusion_matrix,classification_report 
confusion_matrix(y_train,svc_y_train_pred)

array([[  6,   0,   0,   0,   0,   0],
       [  0,  24,   0,   0,   0,   0],
       [  0,   0, 340,   0,   0,   0],
       [  0,   0,   0, 316,   0,   0],
       [  0,   0,   0,   0, 102,   0],
       [  0,   0,   0,   0,   0,  12]], dtype=int64)

In [29]:
print(classification_report(y_train,svc_y_train_pred))

              precision    recall  f1-score   support

           3       1.00      1.00      1.00         6
           4       1.00      1.00      1.00        24
           5       1.00      1.00      1.00       340
           6       1.00      1.00      1.00       316
           7       1.00      1.00      1.00       102
           8       1.00      1.00      1.00        12

    accuracy                           1.00       800
   macro avg       1.00      1.00      1.00       800
weighted avg       1.00      1.00      1.00       800